<div class="flow-root">
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <table class="min-w-full divide-y divide-gray-300">
        <thead>
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Symbol</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Company Name</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">ML Score</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Latest Price</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <% @desired_stocks.each do |stock| %>
            <tr>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0"><%= stock.symbol %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= stock.company_name %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= stock.ml_score %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                <% if stock.latest_price.present? %>
                  <%= number_to_currency(stock.latest_price) %>
                <% else %>
                  <span class="text-gray-400 italic">N/A</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div> 